body {
  font-size: 0.8em;
  line-height: 1.2rem;
  margin: 1cm 0.5cm !important;
  background-color: #fff !important;
  color: #000 !important;
}

/** Headings **/
h1, h2 {
  page-break-after: avoid;
  margin-top: 0.5rem;
  margin-bottom: 0;
  border: none;
}

/** Paragraphs **/
p,
blockquote {
  orphans: 3;
  widows: 3;
}
p,
blockquote,
ul,
ol {
  page-break-inside: avoid;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

pre {
  border: none;
  padding: 0;
  background-color: transparent;
  margin: 0;
  margin-bottom: 0.5rem;
}

/** Links **/
a {
  color: #000 !important;
  text-decoration: underline !important;
}
a[href]:after {
  content: " (" attr(href) ")";
  font-size: 0.8334em;
}

/** Table **/
table {
  border: 1px solid;
  border-collapse: collapse;
}
table td,
table th {
  border: 1px solid black;
  padding: 0.1rem 0.2rem;
}

@page {
margin: 0;

@top-center {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 2em;
  content: counter(page);
}
}